* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #55f57d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #ec62f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a{
    text-decoration: none;
    background-color: #ec62f8;
    color: #000000;
}